
* {
    box-sizing: border-box;
  }

  body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 23px;
    line-height: 0.7em;
    text-align: center;
    color: #dceffc;
    margin: 0;
    padding: 0;
    background: #081427;
}

h1 {
    font-size: 54px;
    font-weight: 400;
    color: #dceffc;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px #000;
    }

@media (max-width: 460px) {
    h1 {
        font-size: 3.5rem;
        margin-bottom: 1.2;

    }
}

h2 {
    margin: 0 0 15px;
    padding: 5px 0;
    text-align: center;
    line-height: 40px;
    font-size: 34px;
    font-weight: 200;
    color: #dceffc;
    text-shadow: 1px 1px 3px #000;
}

image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}